$outerBorder: black solid 5px; 
$thickInnerBorder: #585858 solid 3px;
$thinInnerBorder: #585858 solid 1px;
$setValueColor: #D8D8D8;
$errorColor: #DF0101; 
$buttonBackground: #428bca;

body {
  background: #E0E0F8;
}

table {
  width: 360px;
  height: 360px;
  margin: 6% auto 2% auto;
  table-layout: fixed;
  border: $outerBorder;
  box-sizing: border-box;
  
  td {
    width: 40px;
    height: 40px;
    
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border: none;
      background-color: white;
      font-size: 22px;
      font-weight: 700;
      font-family: verdana;
      cursor: pointer;
      user-select: none;
      -moz-user-select: none;
      outline: none;
    }

  }

}


table td:not(:last-of-type) {
  border-right: $thinInnerBorder;
}

table tr:not(:last-of-type) td {
  border-bottom: $thinInnerBorder;
}

table tr:nth-child(3) td, table tr:nth-child(6) td{
  border-bottom: $thickInnerBorder;
}

table tr td:nth-child(3), table tr td:nth-child(6) {
  border-right: $thickInnerBorder;
}

#buttonWrapper {
  left: 60px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

button {
  min-width: 100px;
  display:inline-block;
  margin: 6px;
  background-color: white;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  cursor:pointer;
  color: $buttonBackground;
  font-family: verdana;
  font-size: 17px;
  padding: 10px 10px;
  text-decoration:none;
  outline: none;
  border: #428bca solid 1px;
}

button:hover {
  background-color: #428bca;
  color: white;
  transition: .3s;
}

.current {
  position: relative;
}

.current::after {
  content: "";
  background: transparent;
  position: absolute;
  left: 0px;
  top: 0px;
  border: #FFBF00 solid 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
}

.setValue {
  background: $setValueColor;
}

.error {
  background: $errorColor;
  color: white;
  transition: .3s;
}

